*{
    margin: o;
    padding: 0;
}
body{
    background-color: chartreuse;
    overflow: hidden;
}
.gameContainer{
    background-image: url(bhh.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
}   
.dino{
    background-image: url(dino.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 290px;
    height: 194px;
    position: absolute;
    bottom: 0;
}
.obstacle{
    width: 85px;
    height: 173px;
    background-image: url(opb.png);
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 65vw; 
}
.animateDino{
    animation: dino 0.6s linear;
}
.obstacleAni{
    animation: obstacleAni 5s linear infinite;
}
.gameOver{
    position: relative;
    top:63px;
    font-size: 53px;
    text-align: center; 
    font-family: 'Ubuntu', sans-serif;
}

#scoreCont{
    font-size: 25px;
    color : black;
    font-weight: bold;
    position: absolute;
    left: 45px;
    top: 31px;
    border: 2px solid olivedrab;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
}
@keyframes dino{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 422px;
    }
    100%{
        bottom: 0;
    }
}
@keyframes obstacleAni{
    0%{
        left: 100vw;  
    }
    100%{
        left: -10vw; 
    }
}